*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration:none;
}

/*changes the default link text from blue to white (we want the other links in the nav bar to stay that color, but unable to see this color on the button)*/
#login-btn a {
    color:whitesmoke;
}

.navbar{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex:1;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    background-color:whitesmoke;
    color: black;
    font-size: 20px;
}

.nav-links{
    display:flex; 
    align-items: center;
    list-style:none;
}
/* this code will allow the items to be next to each other */

.nav-links li{
    margin:0 30px;
}

/*background image, display of headers/the button on top of the photo */
header {
    width: 100vw;
    height: 90vh;
    background-image: url(food.jpg);
    background-size: cover;
    display:flex;
    align-items: flex-end; 
    justify-content: flex-start; /*can change this later*/
}
.header-content {
    margin-bottom: 180px;
    color:whitesmoke;
    text-align:center;
}

.header-content h2{
    font-size: 45px;
}

/*moves both the headers left 60px so they aren't hanging off the ends*/
.header-content >h1, h2{
    margin-left: 60px;
}

/*a cute little divider that helps keep things organized*/
.line{
    width: 190px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto; 
    border-radius: 5px;
}

.header-content h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
}

/*for the special links - sign up/login, read more, search, etc */
.button {
    cursor: pointer;
    padding: 8px 15px;
    background-color: #fc036b;
    border-radius: 20px;
    color: whitesmoke;
}

/*when the button is clicked*/
.button:active {
    background-color:coral;
    transition: 0.3 all ease;
    animation-delay: 3ms;
}
/*about section is the one with three separate sections!*/
.about{
    display:flex;
    flex-wrap:nowrap;
    align-items: top;
    justify-content: flex-start;
    flex:1;
    width: 90%;
    text-align:top;
}

@media screen and (max-width: 700px) { 
    .about {
        flex-wrap: wrap;
        overflow-x: hidden;
    }
}



.about-topics {
    width: 100%;
    margin: 40px;
    height: 80%;
 /*CHANGE THE FLEXWRAP WHEN SMALLER SCREENS!!*/
}

.about-topics h2{
    text-align: center;
}

.about p {
    text-align:left;
}

/*code for the SPECIAL section*/
.pictures {
    width: 80%;
    margin: 80px auto;
    height: 90vh;
    border: 1px solid;
}

.title {
    text-align:center;
    font-size: 25px;
    color:black;
}


.row { /*both*/
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 60%;
    
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures .row {
    margin-top: 5px;
    height: 50vh;
    margin: 5px;
}

#topic-1 h2, #topic-1 > .line {
    text-align:left;
}

#the-idea {
    margin-left:10px;
}

#essential-questions , #essential-questions p{
    text-align:center;
}

h4 {
    font-size: 3vmin;
    color: black;
    margin: 20px auto;
    text-align:center;
}

p , ol li {
    color: grey;
    font-size: 24px;
    text-align:center;
    margin-top: 10px;
}



.pictures .button {
    margin-top: 30px;
}
